<div id="content">
  <div id="banner">
    <%= link_to "Back to Home", root_path, :id => "navigation" %>
  </div>
</div>

<h2>Messages</h2>
<p>
  <code><pre>note User: This is a note.
User->System: Login Request
System-->User: Response
User->User: message to self.</code></pre>
</p>
<%= image_tag("messages.png", :size => "219x260", :alt => "Diagram") %>

<h2>Changing the order of instances</h2>
<p>
  <code><pre>instance User
instance System

note System: This is a note.
User->System: Login Request
System->User: Response</code></pre>
</p>
<%= image_tag("order_of_instances.png", :size => "215x220", :alt => "Diagram") %>

<h2>Title and Shortened name</h2>
<p>
  <code><pre>title Subject to change w/o notice

instance User as U
instance Long name System as S

note S: This is a note.
U->S: Login Request
S->U: Response</code></pre>
</p>
<%= image_tag("title_and_alias.png", :size => "275x240", :alt => "Diagram") %>
