#content {
  #source {
    float: left; 
    #source_text {
      margin-top: 10px;
      width: 220px;
      min-height: 300px; } }
  #destination {
    margin-left: 230px; } }

#homefooter {
  width: 100%;
  clear:left; 
  #part {
    float: left; 
    padding: 10px; } }
