#content {
  #banner {
    position: fixed;
    top: 15px;
    right: 20px;
    #navigation {
      margin-left: 10px;
      color: #333;
    }
  }
  #info {
    position: fixed;
    top: 15px;
    left: 15px;
    #snippet {
      margin-left: 0px;
    }
    #save_snippet_butoon {
      margin-left: 15px;
    }
    #snippet_no{
      margin-left: 0px;
    }
    #open_button {
      margin-left: 25px;
    }
    #info_label {
      margin-left: 10px;
    }
  }
  #source {
    position: fixed;
    top: 50px;
    left: 15px;
    #source_text {
      width: 300px;
      height: 300px;
      outline: none;
    }
  }
  #destination {
    margin-top: 50px;
    margin-left: 330px;
  }
}
